<%- model_class = Post.new.class -%>
<div class="page-header"><h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Thread</th>
      <th>Original Post</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @threads.each do |post| %>
      <tr>
        <td><%= link_to post.title, forum_post_path(@forum, post) %></td>
        <td><%= link_to post.user.username, "#" %></td>
        <td><%=l post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Thread",
            new_forum_post_path(@forum),
            :class => 'btn btn-primary' %>
