<%= simple_form_for [@forum, @discussion], :html => { :class => 'form' } do |f| %>
  <%= f.input :title, :input_html => {:class => 'span12'} %>
  <%= f.simple_fields_for Post.new do |posts_form| %>
  <%= render 'posts/toolbar' %>
    <%= posts_form.input :body, :input_html => {:class => 'span12', :id => 'post_body' } %>
  <% end %>
  <div class="form-actions">
    <%= f.submit 'Create Post', :class => 'btn-primary' %>
  </div>
<% end %>