<% content_for :sidebar do %>
  <% ucp_tab(:sent)%>
  <%= render 'messages_sidebar' %>
<% end %>
<%= render 'new_pm' %>
<table class="table table-striped table-bordered table-condensed" id="messages_table">
  <thead>
    <th>Subject</th>
    <th>Recipient</th>
    <th>Sent</th>
  </thead>
  <tbody>
    <%= content_tag_for(:tr, @messages) do |m| %>
      <td><%= link_to m.subject, user_control_panel_message_path(m) %></td>
      <td><%= m.recipient.username %></td>
      <td><%= "#{time_ago_in_words(m.created_at)} ago"%>
    <% end %>
  </tbody>
</table>