<%= simple_form_for [@forum, @post], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                forum_posts_path(@forum), :class => 'btn' %>
  </div>
<% end %>